<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DarkmatterPushRelayHint</key>
	<string>$(DARKMATTER_PUSH_RELAY_HINT)</string>
	<key>DarkmatterPushServerPubkeyHex</key>
	<string>$(DARKMATTER_PUSH_SERVER_PUBKEY_HEX)</string>
	<key>DarkmatterTelemetryOTLPEndpoint</key>
	<string>$(DARKMATTER_OTLP_ENDPOINT)</string>
	<key>DarkmatterTelemetryBearerToken</key>
	<string>$(DARKMATTER_OTLP_BEARER_TOKEN)</string>
	<key>DarkmatterTelemetryEnvironment</key>
	<string>$(DARKMATTER_TELEMETRY_ENVIRONMENT)</string>
	<key>DarkmatterAuditUploadEndpoint</key>
	<string>$(DARKMATTER_AUDIT_UPLOAD_ENDPOINT)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>dev.ipf.darkmatter</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>darkmatter</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
